<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Truck</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% bids.each do |bid| %>
      <tr>
        <td><%= bid.job %></td>
        <td><%= bid.truck %></td>
        <td><%= bid.price %></td>
        <td><%= link_to 'Show', bid %></td>
        <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
        <td><%= link_to 'Destroy', bid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Accept bid', accept_bid_job_path(job, bid) %></td></td>
      </tr>
    <% end %>
  </tbody>
</table>
