<%= form_with(model: bid, local: true) do |form| %>
  <% if bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% bid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field"> -->
    <!-- <%= form.label :job_id %> -->
    <%= form.hidden_field :job_id %>
  <!-- </div> -->

  <div class="field">
    <%= form.label :truck_id %>
    <%= form.collection_select(:truck_id, current_user.account.trucks, :id, :name, {}, required: true)%>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, { required: true, autocomplete:'off'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
