<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Truck</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.account %></td>
        <td><%= job.truck %></td>
        <td><%= job.name %></td>
        <td><%= job.description %></td>
        <td><%= job.price %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if current_user.account.bids.map(&:job).include?(job) %>
          <td>Already bidded</td>
        <% else %>
          <td><%= link_to 'Bid', new_bid_path(job_id: job.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
