<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @job.account %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @job.truck %>
</p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @job.price %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
